<div class="flex md:flex-row flex-col mx-10 md:mx-0">
  <div class="flex-1 md:mr-10">
    <div class="mb-5">
      <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Current email</label>
      <input
        type="email"
        id="email"
        class="bg-gray-100 text-gray-500 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        value="{{locals.email}}"
        required disabled/>

    {{#if locals.requestedEmail }}
        <br>
      <label for="requestedEmail" class="block mb-2 text-sm font-medium text-gray-900">Requested Email</label>
      <input
        type="email"
        id="requestedEmail"
        class="bg-gray-100 text-gray-500 border border-gray-300 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        value="{{locals.requestedEmail}}"
        required disabled/>
      {{/if}}

      {{#if locals.verified}}
        <p class="mt-2 text-sm text-green-600">Email verified</p>
      {{else}}
        <p class="mt-2 text-sm text-red-600">Email pending verification</p>
      {{/if}}
        <br><br>
    </div>


    {{#if locals.successMessage}}
      <p class="mt-2 text-md text-green-600">{{locals.successMessage}}</p>
      <br><br>
      <p>To verify your new email, we sent an email to our fake inbox: view
        <a href="/verification-emails" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">verification emails sent</a>
      </p>
    {{else}}
      <form method="POST" action="/user/details">

        <h2 class="text-lg font-large text-gray-900 my-5 font-semibold">Change your email address</h2>

        {{#if locals.failureMessage}}
          <p class="mt-2 text-sm text-red-600">{{locals.failureMessage}}</p>
        {{/if}}

        <div class="mb-5">
          <label for="email" class="block mb-2 text-sm font-medium text-gray-900">New email</label>
          <input
            name="newEmailRequested"
            type="email_2"
            id="email_2"
            autocomplete="off"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            required />
        </div>
        <div class="mb-5">
          <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Your password</label>
          <input name="password" type="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required />
        </div>
        <button
          type="submit"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center">
          Change Email
        </button>
      </form>
    {{/if}}

  </div>

  <img src="/assets/images/illustration-3.png" width="400px">
</div>
